*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: palegoldenrod;
}
.container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background: rgb(198, 182, 9);
  padding: 40px 60px;
  border-radius: 15px;
}
h2
{
  font-size: 4em;
    color: aliceblue;
    letter-spacing: 0.1em;
}
.reset
{
  padding: 15px 20px;
    background: rgb(254, 255, 240);
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 800;
}
.reset:focus
{
  background: rgb(198, 182, 9);
}
.game
{
  width: 440px;
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}
.item
{
  position: relative;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  background: rgb(246, 246, 246);
  transform: rotateY(180deg);
  border-radius: 10px;
  transition: 0.25s;

}
.item.boxOpen
{
  transform: rotateY(0deg);
  border-radius: 10px;
}
.item::after
{
  content: '';
  position: absolute;
  inset: 0;
  background: wheat;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: initial;
  border-radius: 10px;
}
.boxOpen::after ,
.boxMatch::after
{
  transform: rotateY(90deg);
}
#goBackButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 50px;
  font-size: 1.75em;
  background-color: #cddb34;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

#goBackButton:hover {
  background: rgb(198, 182, 9);
}